<!--
How to use this test file:
    - Change the URL localhost port to your local one
    - if you can't access the URL, you probably missing "app.UseCors(options => options.WithOrigins("*").AllowAnyMethod());" on Startup.cs

Reference
    Make index.html as startup file in ASP.NET Core: http://www.talkingdotnet.com/make-index-html-startup-file-in-aspnet-core/
-->

<html>
<head>
    <title>Soccernation</title>

    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var mainApp = angular.module("mainApp", []);

        mainApp.controller("competitionsController", function ($scope, $http) {
            var urlComp = "http://localhost:65075/api/competitions";

            $http.get(urlComp).then(function (response) {
                $scope.competitions = response.data;
            },
                function myError(response) {
                    $scope.errorMessage = 'statusText: ' + response.statusText + '... errorMessage: ' + response.errorMessage + '... myError: ' + response.myError;
                });

            $scope.fix = function (id) {
                var urlLadder = "http://localhost:65075/api/competitions/" + id + "/ladder";
                $http.get(urlLadder).then(function (response) {
                    $scope.resultRows = response.data;
                },
                    function myError(response) {
                        var errorMessage = 'URL: ' + urlLadder + ', ERROR: statusText: ' + response.statusText + '... errorMessage: ' + response.errorMessage + '... myError: ' + response.myError;
                        alert(errorMessage);
                    });

                var urlPending = "http://localhost:65075/api/competitions/" + id + "/fixtures?status=PEN";
                $http.get(urlPending).then(function (response) {
                    $scope.fixtures = response.data;
                },
                    function myError(response) {
                        var errorMessage = 'ERRO (' + urlPending + ': statusText: ' + response.statusText + '... errorMessage: ' + response.errorMessage + '... myError: ' + response.myError;
                        alert(errorMessage);
                    });

                var urlFinished = "http://localhost:65075/api/competitions/" + id + "/fixtures?status=FIN";
                $http.get(urlFinished).then(function (response) {
                    $scope.fixturesResult = response.data;
                },
                    function myError(response) {
                        $scope.errorMessage = 'statusText: ' + response.statusText + '... errorMessage: ' + response.errorMessage + '... myError: ' + response.myError;
                    });
            }
        });
    </script>
</head>
<body>
    <h2>SoccerNation</h2>

    <input type="button" class="button_active" onclick="location.href='/addCompetition.html';" value="Add Competition" />
    <input type="button" class="button_active" onclick="location.href='/addTeam.html';" value="Add Team" />
    <input type="button" class="button_active" onclick="location.href='/generateFixtures.html';" value="Generate Fixtures" />
    <br />
    <br />

    <div ng-app="mainApp">
        <div ng-controller="competitionsController">
            Select competition: <select ng-model="selectedCompetition" ng-options="x.name for x in competitions" ng-change="fix(selectedCompetition.id)"></select>
            <br /><br />
            <table>
                <tr>
                    <th colspan="10">Ladder</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>team</th>
                    <th>P</th>
                    <th>W</th>
                    <th>L</th>
                    <th>D</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th> <!--Goal Difference-->
                    <th>Pts</th>
                </tr>
                <tr ng-repeat="row in resultRows">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ row.team.name }}</td>
                    <td>{{ row.matches }}</td>
                    <td>{{ row.wins }}</td>
                    <td>{{ row.draws }}</td>
                    <td>{{ row.loses }}</td>
                    <td>{{ row.goalsFor }}</td>
                    <td>{{ row.goalsAgainst }}</td>
                    <td>{{ row.goalDifference }}</td> <!--???-->
                    <td>{{ row.points }}</td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <th colspan="5">Fixtures</th>
                </tr>
                <tr>
                    <th>status</th>
                    <th>round</th>
                    <th>home</th>
                    <th>visitor</th>
                    <th>leg</th>
                </tr>
                <tr ng-repeat="fixture in fixtures">
                    <td>{{ fixture.status }}</td>
                    <td>{{ fixture.round }}</td>
                    <td>{{ fixture.teamHome.name }}</td>
                    <td>{{ fixture.teamVisitor.name }}</td>
                    <td>{{ fixture.leg }}</td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <th colspan="6">Results</th>
                </tr>
                <tr>
                    <th>status</th>
                    <th>round</th>
                    <th>home</th>
                    <th>visitor</th>
                    <th>home goals</th>
                    <th>visitor goals</th>
                </tr>
                <tr ng-repeat="fixture in fixturesResult">
                    <td>{{ fixture.status }}</td>
                    <td>{{ fixture.round }}</td>
                    <td>{{ fixture.teamHome.name }}</td>
                    <td>{{ fixture.teamVisitor.name }}</td>
                    <td>{{ fixture.teamHomeScore }}</td>
                    <td>{{ fixture.teamVisitorScore }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>